*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    background-image: linear-gradient(to right top, #6288c1, #3475d4, #0060e2, #0045eb, #1e12eb);
}
.container h1{
    color: #fff;
    padding-top: 2rem;
}
#todo-form{
    width: 100%;
    padding: 2rem;
}
#todo-form #btn{
    padding: 0.4rem 1rem;
}
#todo-form input{
    width: 50%;
    height: 2rem;
    background: grey;
    color: #fff;
    font-size: 1rem;
    padding-left: 2rem;
}
#todo-form input::placeholder{
    align-items: center;
    padding-left: 1rem;
    color: #fff;
}
#todo-form input:focus{
    background-color: forestgreen;
    background: rgba(0, 0,0, 0.85);


}
#todo-list{
    background-color: grey;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 2rem;
    margin: auto;
}
#todo-list input{
    padding-left: 2rem;
    margin-left: 1rem;
   
}
#todo-list span{
    width: 50%;
} 
#todo-list button{
    width: 8%;
   padding: 0.4rem 1rem;
   margin-right: 1rem;
   margin-bottom: 1rem;
   
}
